<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BankManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>com.pu.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertdata</display-name>
    <servlet-name>Insertdata</servlet-name>
    <servlet-class>com.pu.Insertdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertdata</servlet-name>
    <url-pattern>/Insertdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListData</display-name>
    <servlet-name>ListData</servlet-name>
    <servlet-class>com.pu.ListData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListData</servlet-name>
    <url-pattern>/ListData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountData</display-name>
    <servlet-name>AccountData</servlet-name>
    <servlet-class>com.pu.AccountData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountData</servlet-name>
    <url-pattern>/AccountData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatedata</display-name>
    <servlet-name>Updatedata</servlet-name>
    <servlet-class>com.pu.Updatedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatedata</servlet-name>
    <url-pattern>/Updatedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accinsert</display-name>
    <servlet-name>accinsert</servlet-name>
    <servlet-class>com.pu.accinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accinsert</servlet-name>
    <url-pattern>/accinsert</url-pattern>
  </servlet-mapping>
</web-app>